/* Googel Font Raleway*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/******* Utility *******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
  background-color: #fbfbfb;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --off-white: #f2f3f3;
  --head-bg: #636c79;
  --btn-bg: #8bb7a2;
  --foot-bg: #10181d;
  --light-gray: #e1e3e6;
  --mid-gray: #707275;
  --dark-gray: #1b1d21;
  --icon-bg: #282f34;
}

.container {
  max-width: 1920px;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  cursor: pointer;
}

/* ****** Common Styling ****** */
/* h2-dark */
.h2-dark {
  text-align: center;
  font-size: 5rem;
  color: var(--dark-gray);
}

/* p-dark */
.p-dark {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--mid-gray);
}
/******* Common Styling End*******/

/******* ShowCase *******/
.showcase {
  background-color: var(--head-bg);
  padding: 2% 0;
}

/*** Navbar ***/
.navbar {
  padding: 0 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* navlogo */
.logo {
  width: 12rem;
}

/* hamburger */
.hamburger {
  display: none;
}
.hamburger .menu-icon {
  font-size: 2.2rem;
  color: var(--white);
}

/* navmenu */
.nav-menu {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* navlinks */
.nav-link {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 2.5rem;
  color: var(--light-gray);
}

/* nav button */
.nav-btn {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--white);
  border: 1px solid #8d8d8d;
  margin-right: 0;
  padding: 1.2rem 5rem;
}

/*** Header ***/
.head {
  padding: 4% 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* head img */
.head-img {
  width: 40%;
}

.head-img img {
  width: 100%;
  height: 60rem;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center center;
}

/* head text */
.head-text {
  width: 50%;
}

.head-text h1 {
  font-size: 6.5rem;
  color: var(--white);
  margin-bottom: 3rem;
}

.head-text .p-light {
  width: 85%;
  font-size: 2rem;
  line-height: 4rem;
  color: var(--light-gray);
  margin-bottom: 3rem;
}

/* form */
form {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--white);
}

.form-group {
  width: 60%;
  display: flex;
  align-items: center;
}

form img {
  width: 2.2rem;
  margin-right: 1rem;
}

form input {
  width: 100%;
  border: none;
  outline: none;
}

::placeholder {
  font-size: 1.6rem;
  color: var(--mid-gray);
}

.form-btn {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  background-color: var(--btn-bg);
  color: var(--white);
  padding: 1.8rem 4rem;
  border: none;
  outline: none;
  cursor: pointer;
}

/*******Section-1 Acchivement Section *******/
.achivement {
  padding: 7% 8%;
}

/* h2 */
.achivement .h2-dark {
  width: 62%;
  margin: 0 auto 5rem;
}

/* work done */
.work-done {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin: auto;
}

/* h2-black */
.h2-black {
  text-align: center;
  font-size: 4.2rem;
  color: var(--black);
  margin-bottom: 1.5rem;
}

/* p-dark */
.common-work .p-dark {
  margin-bottom: 6rem;
}

.achivement-img {
  width: 100%;
}

.achivement-img img {
  width: 100%;
  height: 65rem;
  object-fit: cover;
  object-position: top center;
}

/******* Section-2 Benefits Section *******/
.benefits {
  padding: 7% 8% 0;
}

/* h2-dark  */
.benefits .h2-dark {
  width: 45%;
  margin: 0 auto 8rem;
}

/*** benefits wrapper ***/
.common-benefit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12rem;
}

/* benefits content container size */
.common-benefit .content {
  width: 45%;
}

/* for third one different size */
.benefit-3 .content {
  width: 50%;
}

/* common */
.h3-dark {
  font-size: 4.3rem;
  margin-bottom: 3rem;
  color: var(--dark-gray);
}

/* common */
.content .p-dark {
  line-height: 4rem;
  letter-spacing: 0.1rem;
  margin-bottom: 3.2rem;
}

/* benefits button common*/
.btn-style-common {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  padding: 1.6rem 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  list-style: 0.1rem;
  background-color: var(--btn-bg);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.btn-style-common:hover {
  transform: translateY(-0.2rem);
}

/* benefit img Container Size */
.common-benefit .benefit-img {
  width: 40%;
}

/* first img */
.benefit-1 .benefit-img img {
  width: 100%;
  height: 55rem;
  object-fit: cover;
  object-position: right center;
}

/* second img */
.benefit-2 .benefit-img img {
  width: 100%;
  height: 55rem;
  object-fit: cover;
  object-position: top;
}

/* third img */
.benefit-3 .benefit-img img {
  width: 100%;
  height: 55rem;
  object-fit: cover;
  object-position: center;
}

/*******Section-3 Team Section *******/
.team {
  padding: 7% 8%;
}

/*** team header ***/
.team-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 6rem;
}

.team-header .h3-dark {
  width: 30%;
  margin-bottom: 0;
}

.team-header .p-dark {
  font-size: 2rem;
  width: 45%;
  line-height: 4rem;
  letter-spacing: 0.1rem;
}

/*** team wrapper ***/
.team-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5rem;
}

/* common container size */
.common-team {
  width: 30%;
}

.common-team img {
  width: 100%;
  margin-bottom: 2rem;
}

.common-team .h4-dark {
  font-size: 2.1rem;
  margin-bottom: 2rem;
  color: var(--dark-gray);
}
.common-team .p-dark {
  line-height: 3rem;
}

/* team btn */
.team-btn {
  text-align: center;
}

/*********** Footer ***********/
.foot {
  padding: 4% 8%;
  background-color: var(--foot-bg);
}

/* logo and social icon wrapper */
.logo-social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.hr {
  height: 0.2rem;
  background-color: var(--icon-bg);
  border: none;
  margin-bottom: 5rem;
}

.logo-social-wrapper .foot-logo {
  width: 12rem;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.common-icon {
  padding: 1.2rem 1.2rem;
  background-color: var(--icon-bg);
  margin-left: 2rem;
  border-radius: 50%;
}

.common-icon img {
  height: 2rem;
  width: 2rem;
}

/*** foot wrapper ***/
.foot-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

.common-foot .h4-light {
  color: var(--off-white);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.foot-list li {
  font-size: 1.4rem;
  color: var(--mid-gray);
  margin-bottom: 2rem;
  font-weight: 600;
}

/******* media query for smaller device *******/
@media only screen and (max-width: 767px) {
  /* ****** Common Styling ****** */
  /* h2-dark */
  .h2-dark {
    text-align: left;
    font-size: 2.8rem;
    color: var(--dark-gray);
  }

  /* p-dark */
  .p-dark {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--mid-gray);
  }

  /* ****** Common Styling End****** */

  /******* ShowCase *******/
  .showcase {
    padding: 2% 2% 4rem;
  }

  .navbar {
    padding: 0;
    margin-bottom: 4rem;
    justify-content: space-between;
  }

  /* navlogo */
  .logo {
    width: 9rem;
  }

  .hamburger {
    display: block;
  }

  .nav-menu {
    display: none;
  }

  /*** Header ***/
  .head {
    flex-direction: column;
    padding: 0;
    text-align: center;
  }

  /* head img */
  .head-img {
    width: 100%;
    margin-bottom: 2rem;
  }
  .head-img img {
    height: 30rem;
  }

  /* head content */
  .head-text {
    width: 100%;
  }

  .head-text h1 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }

  .head-text .p-light {
    width: 100%;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  /* form */
  form {
    width: 100%;
    padding: 0.6rem;
  }

  form img {
    width: 1.8rem;
  }

  ::placeholder {
    font-size: 1.5rem;
  }

  .form-btn {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.2rem 2rem;
  }

  /*******Section 1 Acchivement*******/
  .achivement {
    padding: 4rem 2%;
    display: flex;
    flex-direction: column;
  }

  /* h2 */
  .achivement .h2-dark {
    width: 100%;
    margin: 0 auto 3rem;
  }

  /* work done */
  .work-done {
    width: 100%;
    order: 2;
  }

  .common-work {
    width: 20%;
    text-align: center;
  }

  /* h2 black */
  .h2-black {
    font-size: 2rem;
    margin-bottom: 0.6rem;
  }

  /* p-dark */
  .common-work .p-dark {
    font-size: 1rem;
    margin-bottom: 4rem;
  }

  .achivement-img {
    margin-bottom: 2rem;
  }

  .achivement-img img {
    width: 100%;
    height: 30rem;
  }

  /******* Section-2 Benefits  *******/
  .benefits {
    padding: 0rem 2% 4rem;
  }

  .benefits .h2-dark {
    width: 100%;
    margin: 0 auto 4rem;
  }

  /* benefits wrapper */
  .common-benefit {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  /* common benefits content */
  .common-benefit .content {
    width: 100%;
    order: 2;
  }

  .h3-dark {
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }

  .content .p-dark {
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
  }

  .btn-style-common {
    padding: 1.2rem 3rem;
    font-size: 1.4rem;
    font-weight: 500;
  }

  /* common benefits img */
  .common-benefit .benefit-img {
    width: 100%;
    margin-bottom: 2rem;
  }

  .benefit-1 .benefit-img img,
  .benefit-2 .benefit-img img,
  .benefit-3 .benefit-img img {
    height: 30rem;
  }

  /*******Section-3 Team  *******/
  .team {
    padding: 0rem 2% 4rem;
  }

  /* team header */
  .team-header {
    flex-direction: column;
    margin-bottom: 4rem;
  }

  .team-header .h3-dark {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 2.8rem;
  }

  .team-header .p-dark {
    font-size: 1.5rem;
    width: 100%;
    line-height: 2.5rem;
  }

  /*** team wrapper ***/
  .team-wrapper {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .common-team {
    width: 100%;
    margin-bottom: 3rem;
  }

  .common-team img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: center top;
    margin-bottom: 1rem;
  }

  .common-team .h4-dark {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .common-team .p-dark {
    line-height: 2.5rem;
  }

  /*********** Footer ***********/
  .foot {
    padding: 4rem 2% 0;
  }

  /* logo and social icon wrapper */
  .logo-social-wrapper {
    flex-direction: column;
    margin-bottom: 4rem;
  }

  .hr {
    margin-bottom: 3rem;
  }

  .logo-social-wrapper .foot-logo {
    width: 8rem;
    margin-bottom: 3rem;
  }

  .common-icon {
    background-color: var(--icon-bg);
    margin: 0 2rem;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .common-icon img {
    height: 1.5rem;
    width: 1.5rem;
  }

  /*** foot wrapper ***/
  .foot-wrapper {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .common-foot {
    margin-bottom: 3rem;
    width: 48%;
  }
}

/******* media query for medium device *******/
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* ****** Common Styling ****** */
  /* h2-dark */
  .h2-dark {
    text-align: center;
    font-size: 3rem;
  }

  /* p-dark */
  .p-dark {
    font-size: 1.6rem;
  }

  /* ****** Common Styling End****** */

  /*** Header ***/

  .head-img img {
    height: 35rem;
  }

  .head-text h1 {
    font-size: 3.3rem;
  }

  .head-text .p-light {
    font-size: 1.6rem;
  }

  /* form */
  .form-btn {
    font-size: 1.3rem;
  }

  /*******Section 1 Acchivement*******/

  /* work done */
  .work-done {
    flex-wrap: wrap;
  }

  /* h2 black */
  .h2-black {
    font-size: 2.6rem;
  }

  /* p-dark */
  .common-work .p-dark {
    margin-bottom: 4rem;
  }

  .achivement-img img {
    height: 35rem;
  }

  /******* Section-2 Benefits  *******/

  .benefit-1 .benefit-img img,
  .benefit-2 .benefit-img img,
  .benefit-3 .benefit-img img {
    height: 35rem;
  }

  /*******Section-3 Team  *******/

  .team-header .h3-dark {
    font-size: 3rem;
  }

  .team-header .p-dark {
    font-size: 1.7rem;
  }

  /*** team wrapper ***/

  .common-team img {
    height: 35rem;
  }

  .common-team .h4-dark {
    font-size: 2.2rem;
  }
}

/******* media query for Large device *******/
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  /* ****** Common Styling ****** */
  /* h2-dark */
  .h2-dark {
    text-align: center;
    font-size: 3.4rem;
    color: var(--dark-gray);
  }

  /* p-dark */
  .p-dark {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--mid-gray);
  }

  /* ****** Common Styling End****** */

  /******* ShowCase *******/
  .showcase {
    padding: 2% 2% 4rem;
  }

  .navbar {
    padding: 0;
    margin-bottom: 4rem;
    justify-content: space-between;
  }

  /* navlogo */
  .logo {
    width: 9rem;
  }

  .hamburger {
    display: block;
  }

  .nav-menu {
    display: none;
  }

  /*** Header ***/
  .head {
    flex-direction: column;
    padding: 0;
    text-align: center;
  }

  /* head img */
  .head-img {
    width: 100%;
    margin-bottom: 2rem;
  }

  .head-img img {
    height: 45rem;
  }

  /* head content */
  .head-text {
    width: 100%;
  }

  .head-text h1 {
    font-size: 3.3rem;
    margin-bottom: 2rem;
  }

  .head-text .p-light {
    width: 100%;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  /* form */
  form {
    width: 100%;
    padding: 0.6rem;
  }

  form img {
    width: 1.8rem;
  }

  ::placeholder {
    font-size: 1.5rem;
  }

  .form-btn {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1.2rem 2rem;
  }

  /*******Section 1 Acchivement*******/
  .achivement {
    padding: 4rem 2%;
  }

  /* h2 */
  .achivement .h2-dark {
    width: 100%;
    margin: 0 auto 3rem;
  }

  /* h2 black */
  .h2-black {
    font-size: 3rem;
    margin-bottom: 0.6rem;
  }

  /* p-dark */
  .common-work .p-dark {
    margin-bottom: 4rem;
  }

  .achivement-img {
    margin-bottom: 2rem;
  }

  .achivement-img img {
    height: 40rem;
  }

  /******* Section-2 Benefits  *******/
  .benefits {
    padding: 0rem 2% 4rem;
  }

  .benefits .h2-dark {
    width: 100%;
    margin: 0 auto 4rem;
  }

  /* benefits wrapper */
  .common-benefit {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  /* common benefits content */
  .common-benefit .content {
    width: 100%;
    order: 2;
  }

  .h3-dark {
    font-size: 2.6rem;
    margin-bottom: 2rem;
  }

  .content .p-dark {
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
  }

  .btn-style-common {
    padding: 1.2rem 3.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  /* common benefits img */
  .common-benefit .benefit-img {
    width: 100%;
    margin-bottom: 2rem;
  }

  .benefit-1 .benefit-img img,
  .benefit-2 .benefit-img img,
  .benefit-3 .benefit-img img {
    height: 45rem;
    object-position: top center;
  }

  /*******Section-3 Team  *******/
  .team {
    padding: 0rem 2% 4rem;
  }

  /* team header */
  .team-header {
    flex-direction: column;
    margin-bottom: 4rem;
  }

  .team-header .h3-dark {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 3.4rem;
  }

  .team-header .p-dark {
    font-size: 1.7rem;
    width: 100%;
    line-height: 2.5rem;
  }

  /*********** Footer ***********/
  .foot {
    padding: 4rem 2% 0;
  }

  /*** foot wrapper ***/
  .foot-wrapper {
    flex-wrap: wrap;
  }

  .common-foot {
    margin-bottom: 3rem;
    width: 30%;
  }
}
